
body {
  background-color: black;
}
nav {
  width: 1000px;
  margin: 0 auto;

	-webkit-animation: pulse 3s infinite;
}

@-webkit-keyframes pulse{
	0%{		box-shadow:0 0 1px #008aff;}
	50%{	box-shadow:0 0 10px #008aff;}
	100%{	box-shadow:0 0 1px #008aff;}
}
nav ul{
  background:#2D2E2F;
  padding: 5px;

  -webkit-box-shadow: 2px 2px 2px #111;
}
nav ul li{
  display: inline;
  margin: 10px;
  padding: 5px;
}
nav ul li a{
  text-decoration: none;
  color: #999;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}
nav ul li a:hover{
  color: #00b4ff;
  text-decoration: underline;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.9),
      rgba(36, 11, 54, 0.8),
      rgba(195, 20, 50, 0.9)
    ),
    url("3475843.jpeg") center no-repeat;
  background-size: cover;
}

.contact-header {
  font-family: "Montserrat", sans-serif;
  margin: 10rem 10rem 3rem 10rem;
  text-align: center;
}

#co-title {
  font-size: 25px;
  font-weight: 700;
  color: #c31432;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#co-text {
  font-size: 3rem;
  color: white;
  padding-bottom: 2rem;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  line-height: 2;
  height: auto;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10rem;
}

.contact-form {
  font-family: "Montserrat", sans-serif;
  padding: 5rem;
}

#form-title {
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1px;
  margin-left: 4rem;
  margin-bottom: 3rem;
}

fieldset {
  border: none;
}

.form-field {
  outline: none;
  width: 200%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  margin-bottom: 0.9rem;
}

#name,
#email,
#subject,
#message {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  outline: none;
  background: transparent;
  border: none;
  letter-spacing: 2px;
  font-size: 0.6rem;
  line-height: 2rem;
  padding-bottom: 0.7rem;
}

textarea,
#message {
  width: 100%;
  color: #fff;
  overflow: visible;
}

#form-btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  border: none;
  color: white;
  font-size: 0.6rem;
  letter-spacing: 2.5px;
  font-weight: 700;
  text-transform: uppercase;
  width: 200%;
  height: 60px;
  background-color: #c31432;
  cursor: pointer;
  transition: all 0.3s ease;
}

#form-btn:hover {
  opacity: 0.9;
  transform: translateY(-2.5%);
  box-shadow: 0 0 15px 0 #ffffff;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.contact-info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #c31432;
}

.contact-info a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #666;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 3rem;
  margin-bottom: 5rem;
  transition: all 0.3s ease;
}

.contact-info a:hover {
  transform: translateY(-2.5%);
  color: #999;
}

.contact-info .fab {
  font-size: 1.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  color: #666;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fab:hover {
  transform: scale(1.2);
  color: #999;
}

@media screen and (max-width: 960px) {
  .contact-content {
    display: flex;
    flex-direction: column;
  }

  .form-field {
    width: 100%;
  }

  #form-btn {
    width: 100%;
  }

  #form-title {
    margin: 3rem auto;
  }

  .contact-header {
    margin: 5rem 5rem 3rem 5rem;
  }

  #co-title {
    font-size: 1rem;
  }

  #co-text {
    font-size: 2.5rem;
  }

  .contact-form {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 960px) {
  .form-field {
    width: 125%;
  }

  #form-title {
    margin: 3rem auto;
  }

  #form-btn {
    width: 125%;
  }

  .contact-header {
    margin: 7rem 7rem 3rem 7rem;
  }

  .contact-info {
    padding: 5rem;
  }

  #co-title {
    font-size: 1rem;
  }

  #co-text {
    font-size: 2.5rem;
  }

  .contact-form {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1460px) {
  .form-field {
    width: 200%;
  }

  #form-btn {
    width: 200%;
  }
}
h1 {font-size: 200px ;
  
}

.container{background-color: black;}



